builds/*
.git/
.github/

# Local Development
mods/braindance_protocol/braindance_protocol*.log
mods/braindance_protocol/db.sqlite3
mods/braindance_protocol/config.json
mods/braindance_protocol/favorites.json
mods/braindance_protocol/lang/*_old.lua
